
/*RESET*/

body {font-family: monospace;}

ul li{
	list-style: none;
}
ul{
	margin: 0;
	padding: 0;
}
h1{
	margin: 0;
	padding: 0;
}



/*Behaviours*/
.li1{
	margin-left: 10px;
}
.li2{
	margin-left: 10px;
}
.li3{
	margin-left: 10px;
}

p{
	margin-right: 5px;
}
.container{
	max-width: 1000px;
    margin: auto;
 }
 .breadcrumb{
 	text-transform: uppercase;

 }
 .product-info{
 	margin-top: 40px;
 }
.main-img{
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 10px;
	min-width: 10px;
}
.img{
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 10px;
	min-width: 10px;
}

.description{
 	border-top: 1px solid grey;
 	
 }
button{
	background: black;
	text-transform: uppercase;
	color: white;
	padding: 10px 20px;
	margin-top: 20px;
}
.horizontal{
	flex-direction: row;
}
.layout{
	display: flex;
}
.layout-right{
		justify-content: flex-end;
}
.layout-left{
		justify-content: flex-start;
}
.padd{
	padding: 10px;
}
.w50{
	width: 50%;
}


/*Specific*/

.navbar{
		border-bottom: 1px solid grey;
}
.logo{
	flex-grow: 1;
}
.menu{
	flex-grow: 2;
}
.horizontal .layout .img{
	       flex-grow: 1;
}
.img:first-child{
	margin: 0;
}
.gallery .main-img{
	height:350px;
}
.price{
	font-size: 22px;
	margin: 50px 0;
}
.gallery .img{
	height: 110px;
	margin-top: 10px;
{




